<header>
  <h1>El Vertedero</h1>
  <nav class="navbar navbar-default">
    <a routerLink="/" class="navbar-brand" [routerLinkActive]="'navbar'" [routerLinkActiveOptions]="{exact:true}">
      Početna stranica
    </a>
    <a routerLink="/naruciProizvod" class="navbar-brand" [routerLinkActive]="'navbar'"
      [routerLinkActiveOptions]="{exact:true}">
      Naruči proizvod
    </a>
    <a routerLink="/napraviNalog" class="navbar-brand" [routerLinkActive]="'navbar'"
      [routerLinkActiveOptions]="{exact:true}">
      Napravi nalog
    </a>
    <a routerLink="/prijaviSe" class="navbar-brand" [routerLinkActive]="'navbar'"
      [routerLinkActiveOptions]="{exact:true}">
      Prijavi se
    </a>
    <a routerLink="/trenutnaPorudzbina" class="navbar-brand" [routerLinkActive]="'navbar'"
      [routerLinkActiveOptions]="{exact:true}">
      Trenutna porudžbina
    </a>
    <a routerLink="#" (click)="odjaviKorisnika($event)" class="navbar-brand">Odjavi se</a>
  </nav>
</header>