<div class="col-sm-6 offset-sm-3 text-center">
  <h2>Napravi nalog: </h2>
  <form [formGroup]="forma">
    
      <label>Ime:
        <input formControlName="ime" 
               type="text" 
               id="inputIme" 
               class="form-control">
      </label>       
      <div class="alert alert-danger" 
           *ngIf="kontrolaNijeValidna('ime')">
        {{ porukaOGresci }}
      </div>

      <label>Prezime:
        <input formControlName="prezime" 
               type="text" 
               id="inputPrezime" 
               class="form-control">
      </label>       
      <div class="alert alert-danger" 
           *ngIf="kontrolaNijeValidna('prezime')">
        {{ porukaOGresci }}
      </div>

      <div class="alert alert-danger" 
          *ngIf="this.korisnickoImeJeZauzeto">
          {{ "Korisnicko ime je zauzeto" }}
      </div>

      <label>Korisničko ime:
      <input formControlName="korisnickoIme" 
             type="text" 
             id="inputKorisnickoIme" 
             class="form-control">
      </label>
      <div class="alert alert-danger"
           *ngIf="kontrolaNijeValidna('korisnickoIme')">
          Korisničko ime mora imati najmanje {{this.minimalnaDuzinaKorisnickoIme}} karaktera
      </div>

      <label for="inputLozinka">Lozinka:
        <input formControlName="lozinka" 
              type="password" 
              id="inputLozinka" 
              class="form-control">
      </label>
      <div class="alert alert-danger" 
           *ngIf="kontrolaNijeValidna('lozinka')">
          Lozinka mora imati najmanje {{this.minimalnaDuzinaLozinka}} karaktera
      </div>
    

    <button type="button" 
            class="btn btn-primary" 
            [disabled]="!forma.valid" 
            (click)="registrujKorisnika()">
            Potvrdi
    </button>
  </form>
</div>