<header>
  <h1>Restoran Kafilerija</h1>
  <nav class="navbar navbar-default">
    <a routerLink="/" class="navbar-brand">Početna stranica</a>
    <a routerLink="/pica" class="navbar-brand">Pica</a>
    <a routerLink="/napraviNalog" class="navbar-brand">Napravi nalog</a>
    <a routerLink="/prijaviSe" class="navbar-brand">Prijavi se</a>
    <a routerLink="/trenutnaPorudzbina" class="navbar-brand">Trenutna porudžbina</a>
    <a routerLink="/odjaviSe" class="navbar-brand">Odjavi se</a>
  </nav>
</header>