<div class="col-sm-6 offset-sm-3 text-center">
  <div class="form-group">
    <h2>Prijavi se</h2>
    <form [formGroup]="forma">

      <label for="inputKorisnickoIme">Korisničko ime:</label>
      <input formControlName="korisnickoIme" 
             type="text" 
             id="inputKorisnickoIme" 
             class="form-control">
      <div class="alert alert-danger"
           *ngIf="kontrolaNijeValidna('korisnickoIme')">
        Korisničko ime mora biti dužine {{this.minimalnaDuzinaKorisnickogImena}}
      </div>
      <div class="alert alert-danger"
           *ngIf="this.korisnickoImeJePogresno">
        Korisničko ime je pogrešno
      </div>

      <label for="inputLozinka">Lozinka:</label>
      <input formControlName="lozinka" 
             type="password" 
             id="inputLozinka" 
             class="form-control">
      <div class="alert alert-danger" 
           *ngIf="kontrolaNijeValidna('lozinka')">
        Lozinka mora biti dužine {{this.minimalnaDuzinaLozinke}}
      </div>
      <div class="alert alert-danger"
           *ngIf="this.lozinkaJePogresna">
        Lozinka je pogrešna
      </div>

      <button type="button" 
              class="btn btn-primary" 
              [disabled]="!forma.valid"
              (click)="prijaviKorisnika()">
              Potvrdi
      </button>
    </form>
  </div>
</div>